<h2>Employee Data</h2>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!employees"><em>Loading...</em></p>

<div *ngIf="employees">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Designation</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees">
                <td>{{ employee.id }}</td>
                <td><input class="form-control" type="text" [(ngModel)]="employee.empName" value="{{ employee.empName }}" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="employee.empDesig" value="{{ employee.empDesig }}" /></td>
                <td><button class="btn btn-danger" (click)="deleteEmployee(employee)">Delete</button></td>
            </tr>
        </tbody>
    </table>
    <hr />
    <button class="btn btn-primary" (click)="updateEmployees(employees)">Update</button>
    <span *ngIf="updating">Updating...</span>
    <span><a class="btn btn-mini" (click)="refreshEmployees()">Refresh</a></span>
</div>
<hr />
<div class="row">
    <div class="col-sm-4">
        <form class="form-group">
            <h3>Add Employee</h3>
            <hr />
            <label for="empName">Employee Name</label>
            <input type="text" class="form-control" name="empName" [(ngModel)]="newEmployee.empName" />
            <label for="empDesig">Employee Designation</label>
            <input type="text" class="form-control" name="empDesig" [(ngModel)]="newEmployee.empDesig" />
            <hr />
            <button class="btn btn-primary" (click)="addEmployee(newEmployee)">Add Employee</button>
        </form>
    </div>
</div>
